PATREON_CLIENT_ID='abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz01'
PATREON_CLIENT_SECRET='9876543210abcdefghijklmnopqrstuvwxyz98abcdefghijklmnopqrstuvwxyz'
PATREON_REDIRECT_URI='http://localhost:3000/oauth/callback'
NODE_ENV=dev